@charset "UTF-8";

@font-face {
  font-family: 'socicon';
  src: url("../font/socicon.eot");
  src: url("../font/socicon.eot?#iefix") format("embedded-opentype"), url("../font/socicon.woff") format("woff"), url("../font/socicon.ttf") format("truetype"), url("../font/socicon.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /*speak: none;*/
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /*speak: none;*/
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon::before, [class^="socicon-"]::before, [class*=" socicon-"]::before {
  display: inline-block;
  font-family: 'socicon';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Improve font-rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-airbnb::before {
  content: "\e00e";
}

.socicon-amazon::before {
  content: "\e05c";
}

.socicon-amplement::before {
  content: "\e070";
}

.socicon-android::before {
  content: "\e03e";
}

.socicon-angellist::before {
  content: "\e062";
}

.socicon-app-net::before {
  content: "\e013";
}

.socicon-apple::before {
  content: "\e02e";
}

.socicon-baidu::before {
  content: "\e061";
}

.socicon-bandcamp::before {
  content: "\e06a";
}

.socicon-bebo::before {
  content: "\e035";
}

.socicon-behance::before {
  content: "\e027";
}

.socicon-blogger::before {
  content: "\e020";
}

.socicon-buffer::before {
  content: "\e018";
}

.socicon-coderwall::before {
  content: "\e011";
}

.socicon-dailymotion::before {
  content: "\e053";
}

.socicon-deezer::before {
  content: "\e06c";
}

.socicon-delicious::before {
  content: "\e028";
}

.socicon-deviantart::before {
  content: "\e029";
}

.socicon-digg::before {
  content: "\e025";
}

.socicon-disqus::before {
  content: "\e019";
}

.socicon-douban::before {
  content: "\e03b";
}

.socicon-draugiem::before {
  content: "\e074";
}

.socicon-dribbble::before {
  content: "\e023";
}

.socicon-drupal::before {
  content: "\e002";
}

.socicon-ebay::before {
  content: "\e063";
}

.socicon-ello::before {
  content: "\e006";
}

.socicon-eight-tracks::before {
  content: "\e05b";
}

.socicon-endomondo::before {
  content: "\e075";
}

.socicon-envato::before {
  content: "\e026";
}

.socicon-facebook::before {
  content: "\e041";
}

.socicon-feedburner::before {
  content: "\e048";
}

.socicon-filmweb::before {
  content: "\e076";
}

.socicon-five-hundred-px::before {
  content: "\e056";
}

.socicon-flattr::before {
  content: "\e02f";
}

.socicon-flickr::before {
  content: "\e055";
}

.socicon-forrst::before {
  content: "\e02a";
}

.socicon-foursquare::before {
  content: "\e044";
}

.socicon-friendfeed::before {
  content: "\e032";
}

.socicon-github::before {
  content: "\e030";
}

.socicon-goodreads::before {
  content: "\e014";
}

.socicon-google::before {
  content: "\e067";
}

.socicon-google-play::before {
  content: "\e02b";
}

.socicon-google-plus::before {
  content: "\e042";
}

.socicon-grooveshark::before {
  content: "\e04f";
}

.socicon-houzz::before {
  content: "\e00a";
}

.socicon-icq::before {
  content: "\e05d";
}

.socicon-identica::before {
  content: "\e034";
}

.socicon-imdb::before {
  content: "\e064";
}

.socicon-instagram::before {
  content: "\e057";
}

.socicon-istock::before {
  content: "\e004";
}

.socicon-itunes::before {
  content: "\e06b";
}

.socicon-lanyrd::before {
  content: "\e016";
}

.socicon-last-fm::before {
  content: "\e050";
}

.socicon-linkedin::before {
  content: "\e049";
}

.socicon-mail::before {
  content: "\e01f";
}

.socicon-medium::before {
  content: "\e06d";
}

.socicon-meetup::before {
  content: "\e03c";
}

.socicon-mixcloud::before {
  content: "\e001";
}

.socicon-model-mayhem::before {
  content: "\e000";
}

.socicon-mozilla-persona::before {
  content: "\e008";
}

.socicon-mumble::before {
  content: "\e07e";
}

.socicon-myspace::before {
  content: "\e04c";
}

.socicon-newsvine::before {
  content: "\e033";
}

.socicon-odnoklassniki::before {
  content: "\e00d";
}

.socicon-openid::before {
  content: "\e06f";
}

.socicon-outlook::before {
  content: "\e010";
}

.socicon-patreon::before {
  content: "\e01c";
}

.socicon-paypal::before {
  content: "\e00c";
}

.socicon-periscope::before {
  content: "\e00f";
}

.socicon-pinterest::before {
  content: "\e043";
}

.socicon-playstation::before {
  content: "\e03d";
}

.socicon-play-store::before {
  content: "\e02b";
}

.socicon-pocket::before {
  content: "\e01e";
}

.socicon-qq::before {
  content: "\e03a";
}

.socicon-quora::before {
  content: "\e073";
}

.socicon-raidcall::before {
  content: "\e07d";
}

.socicon-ravelry::before {
  content: "\e05f";
}

.socicon-reddit::before {
  content: "\e022";
}

.socicon-renren::before {
  content: "\e031";
}

.socicon-resident-advisor::before {
  content: "\e066";
}

.socicon-rss::before {
  content: "\e00b";
}

.socicon-sharethis::before {
  content: "\e069";
}

.socicon-skype::before {
  content: "\e046";
}

.socicon-slideshare::before {
  content: "\e017";
}

.socicon-smugmug::before {
  content: "\e05e";
}

.socicon-snapchat::before {
  content: "\e03f";
}

.socicon-soundcloud::before {
  content: "\e04d";
}

.socicon-spotify::before {
  content: "\e04e";
}

.socicon-stackexchange::before {
  content: "\e077";
}

.socicon-stackoverflow::before {
  content: "\e007";
}

.socicon-stayfriends::before {
  content: "\e065 ";
}

.socicon-steam::before {
  content: "\e037";
}

.socicon-storehouse::before {
  content: "\e01d";
}

.socicon-stumbleupon::before {
  content: "\e024";
}

.socicon-swarm::before {
  content: "\e003";
}

.socicon-teamspeak::before {
  content: "\e079";
}

.socicon-teamviewer::before {
  content: "\e07a";
}

.socicon-technorati::before {
  content: "\e021";
}

.socicon-telegram::before {
  content: "\e06e";
}

.socicon-tripadvisor::before {
  content: "\e012";
}

.socicon-tripit::before {
  content: "\e015";
}

.socicon-triplej::before {
  content: "\e009";
}

.socicon-tumblr::before {
  content: "\e059";
}

.socicon-twitch::before {
  content: "\e05a";
}

.socicon-twitter::before {
  content: "\e040";
}

.socicon-ventrilo::before {
  content: "\e07b";
}

.socicon-viadeo::before {
  content: "\e04a";
}

.socicon-vimeo::before {
  content: "\e052";
}

.socicon-vine::before {
  content: "\e054";
}

.socicon-viber::before {
  content: "\e071";
}

.socicon-vkontakte::before {
  content: "\e01a";
}

.socicon-weibo::before {
  content: "\e060";
}

.socicon-whatsapp::before {
  content: "\e01b";
}

.socicon-wikipedia::before {
  content: "\e02d";
}

.socicon-windows::before {
  content: "\e039";
}

.socicon-wordpress::before {
  content: "\e058";
}

.socicon-wykop::before {
  content: "\e078";
}

.socicon-xbox::before {
  content: "\e038";
}

.socicon-xing::before {
  content: "\e04b";
}

.socicon-yahoo::before {
  content: "\e045";
}

.socicon-yammer::before {
  content: "\e005";
}

.socicon-yandex::before {
  content: "\e068";
}

.socicon-yelp::before {
  content: "\e047";
}

.socicon-younow::before {
  content: "\e07c";
}

.socicon-youtube::before {
  content: "\e051";
}

.socicon-zerply::before {
  content: "\e02c";
}

.socicon-zomato::before {
  content: "\e072";
}

.socicon-zynga::before {
  content: "\e036";
}
